@import "tailwindcss";

:root {
  /* Colores base */
  --background: #7b6b8d;
  --foreground: #f0eaf8;

  /* Paleta inicial */
  --color-primary: #c07898;
  --color-primary-dark: #8a4a68;
  --color-secondary: #9870c0;
  --color-muted: #c8b8d8;
  --color-surface: #6a5a7a;
  --color-border: #a090c0;

  /* Tipografía */
  --font-display: 'Hachi Maru Pop', cursive;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-muted: var(--color-muted);
  --color-surface: var(--color-surface);
  --color-border: var(--color-border);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

main {
  background: var(--background)
}

h1{
  font-family: var(--font-display);
}